<div class="container bg-card">
  <h1> Your Experiences </h1>
    <table class="table table-striped">
  <thead>
    <tr>
      <th>Booking ID</th>
      <th>Experience Name</th>
      <th>User</th>
      <th>Start Date</th>
      <th>End Date</th>
    </tr>
  </thead>
  <tbody>
  <% @bookings.each do |booking| %>
    <tr>
      <td><%= booking.date.to_fs(:long_ordinal)%></td>
      <td><%= booking.user.email %></td>
      <td><%= booking.status %></td>
      <td><%= booking.experience.title %></td>
    </tr>
  <% end %>
  </tbody>
  </table>
</div>
