<%# <div class="container bg-card text-center mt-2"> %>
  <%# <h2 class="d-inline-flex m-2">Magic Shows</h2> %>
<div class="card card-body text-center bg-card justify-content-center">
  <h2>Magic Shows</h2>
    <p> <strong>Throwing a party?</strong> </p>
  <p> Make your gathering special by adding a little magic. We have plenty of Magicians and Magic Shows to choose from.</p>
</div>
<div class="container bg-card text-center mt-2">
    <div class="cards">
      <%= render "experience" %>
    </div>
</div>
