.navbar-lewagon {
  justify-content: space-between;
  background: $light-gray;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.avatar {
  width: 75px;
}

.fa-regular {
  font-size: 1rem;
  // line-height: 2.25;
  // padding: 5px;
  color: $dark-gray;
}

.fa-regular:hover {
  color: $purple;
}

// .nav-test {
//   color: rgba(242, 0, 0, 0.7);
// }

#nav-items {
  color: $dark-gray;
}

#nav-items:hover {
  color: $purple;
}

#navbarDropdown {
  position: absolute;
  right: -73px;
  top: 11px;
}
